html,
body {
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
  background-color: #161624;
}
header {
  width: 1920px;
  height: 40px;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
  background-color: #191a35;
}
.asidemain {
  width: 2000px;
  display: flex;
}
nav {
  display: flex;
}
.logo {
  margin-left: 30px;
  margin-top: 10px;
}
.brand-name {
  margin-left: 5px;
  margin-top: 10px;
}
.menu {
  margin-left: 40px;
  list-style-type: none;
  display: flex;
  font-size: 12px;
  color: #ffffff;
}
.menu li {
  margin-left: 30px;
}
.underlined {
  padding-bottom: 10px;
  border-bottom: 3px solid #1391ff;
}
.user {
  font-size: 13px;
  color: #ffffff;
  margin-left: auto;
}

aside {
  width: 200px;
  height: 1040px;
  background-color: #191a35;
}
.search_toggle {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  margin-left: 20px;
  margin-right: 25px;
}
aside ul {
  margin-top: 40px;
  font-size: 12px;
  color: #ffffff;
  padding-left: 10px;
}
.aside ul li:first-child {
  display: flex;
}
aside li {
  margin-top: 12px;
  display: flex;
}
aside li a {
  margin-left: 10px;
}
.rect {
  width: 6px;
  height: 6px;
  border-radius: 1px;
  margin-top: 5px;
}
.orange {
  background-color: #f7594b;
}
.pink {
  background-color: #f76196;
}
.purple {
  background-color: #816dfd;
}
.green {
  background-color: #85c685;
}
.blue {
  background-color: #97aced;
}
.emergency_line {
  margin-left: auto;
}
.aside-line {
  background-color: #000000;
  border: 1px solid #333b73;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.combination {
  justify-content: center;
  display: grid;
}
.combination img {
  margin-top: 22px;
  margin-left: 45px;
}

.combination_box {
  font-size: 14px;
  color: #5873c5;
  width: 130px;
  height: 120px;
  text-align: center;
  margin-top: 10px;
}
.combination_box .button {
  margin-top: 15px;
}
.button {
  font-size: 12px;
  color: #1391ff;
  border: 1px solid #1391ff;
  text-align: center;
  padding: 5px;
}
main .top {
  margin-left: 50px;
  margin-top: 30px;
  color: #ffffff;
  display: flex;
}
.name_drpdwn {
  display: flex;
}
.arrow {
  margin-top: 20px;
  margin-left: 10px;
}
h7 {
  font-size: 12px;
  font-weight: 400;
}
.calendar_info {
  color: #1391ff;
}
.creator_info p {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}
.creator_info p span {
  color: #1391ff;
}
.update_info {
  display: flex;
}
.top-right {
  margin-left: auto;
  font-size: 12px;
}
.top .button {
  color: #1391ff;
  width: 130px;
  text-align: center;
}

.top-line {
  width: 1630px;
  background-color: #000000;
  border: 1px solid #2a3269;
  margin-left: 50px;
  margin-right: 50px;
}
#chartContainer {
  background-color: transparent;
}
